<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.aptana.ruby.debug.core.launchConfigurationType">
<stringAttribute key="com.aptana.ruby.debug.ATTR_FILE_NAME" value="/Users/toucannyc/Dropbox/12th Grade Work/Computer Science/Skoolr/Skoolr.git/Skoolr.git/Skoolr.git/app/models/schedule_ownership.rb"/>
<stringAttribute key="com.aptana.ruby.debug.ATTR_WORKING_DIR" value="/Users/toucannyc/Dropbox/12th Grade Work/Computer Science/Skoolr/Skoolr.git/Skoolr.git/Skoolr.git/app/models"/>
<stringAttribute key="org.eclipse.debug.core.source_locator_id" value="com.aptana.ruby.debug.core.sourceLocator"/>
</launchConfiguration>
