<!DOCTYPE HTML>

<html>
<head>
</head>

<body>
<meta charset="utf-8">
	
	<script>
	$(function() {
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				}
			}
		});
	});
	</script>


<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Welcome</a></li>
		<li><a href="month_view.html">Month</a></li>
		<li><a href="week_view.html">Week</a></li>
		<li><a href="day_view.html">Day</a></li>
	</ul>
	<div id="tabs-1">
		<p>Welcome to Schoolr!</p>
		<p>Currently the month, week, and day calendar views do not have any functionality. Tasks are in progress.</p>
	</div>
</div>

</div>
</body>
</html>


