<!-- 
heading
calendar views -- Day, Week, Month
task list
footer

thinking: HTML doc w/ CSS to break it up into sections
 		  use div tags to show/hide 
-->

<!-- 
ajax, jQuery, partial views
use the tabs code for the partial views
and the pop-up code for adding a task... set up so just the button is on my page and the mini UI is in another doc Joel can edit
-->


<!DOCTYPE HTML>

<html>
<head>
</head>

<body>
<meta charset="utf-8">
	
	
	
	
	
	
	
	<script>
	$(function() {
		$( "#tabs" ).tabs({
			ajaxOptions: {
				error: function( xhr, status, index, anchor ) {
					$( anchor.hash ).html(
						"Couldn't load this tab. We'll try to fix this as soon as possible. " +
						"If this wouldn't be a demo." );
				}
			}
		});
	});
	</script>



<div class="demo">

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Welcome</a></li>
		<li><a href="month_view.html">Month</a></li>
		<li><a href="week_view.html">Week</a></li>
		<li><a href="day_view.html">Day</a></li>
	</ul>
	<div id="tabs-1">
		<p>Currently the month, week, and day calendar views do not have any functionality. Tasks are in progress.</p>
		<p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
	</div>
</div>

</div><!-- End demo -->



<div class="demo-description">
<p>Fetch external content via Ajax for the tabs by setting an href value in the tab links.  While the Ajax request is waiting for a response, the tab label changes to say "Loading...", then returns to the normal label once loaded.</p>
<p>Tabs 3 and 4 demonstrate slow-loading and broken AJAX tabs, and how to handle serverside errors in those cases. Note: These two require a webserver to interpret PHP. They won't work from the filesystem.</p>
</div><!-- End demo-description -->
</body>
</html>


